.container {
    height: 100%;
    width: 100%;
    background: url("../../public/bg.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.wrapper {
    width: 90%;
    max-width: 40rem;
}

.wrapper h1 {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2rem 0;
    color: #075985;
}

.stepper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 2px solid #d4d4d4;
    font-size: .95rem;
}

.stepper div {
    padding: 0.5rem 0;
}

.active {
    color: #f59e0b;
    position: relative;
}

.active::after {
    content: "";
    display: block;
    background-color: #f59e0b;
    border: 0.2rem solid #f59e0b;
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    margin-top: 0.4rem;
}

.submit {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
    width: 90%;
    max-width: 40rem;
}

.next {
    background-color: #eab308;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.35rem;
}

.next button {
    color: white;
    font-weight: 500;
    border-radius: 0.35rem;
    height: 1.8rem;
    background-color: transparent;
    outline: 0;
    border: 0;
}

.cancel {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.35rem;
}

.cancel button {
    color: #075985;
    font-weight: 500;
    border-radius: 0.35rem;
    height: 1.8rem;
    background-color: transparent;
    outline: 0;
    border: 0;
}
