.container {
    padding: 2.5rem 0;
}

.field {
    width: 100%;
}

.field label {
    font-weight: 500;
    font-size: 1.25rem;
}

.field input {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 0.5rem;
}

.field input:focus {
    outline: none;
    border: 1px solid #a3a3a3;
}

.info {
    margin-bottom: 1rem;
    font-size: 0.95rem;
    color: #a3a3a3;
}

.region {
    display: flex;
    gap: 1.5rem;
}

.region div:first-child {
    width: 60%;
}

.region div:last-child {
    width: 40%;
}

.select {
    margin: 1rem 0;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 0.5rem;
    padding: 0 1rem;
}
